@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown > * {
  all: revert;
}


.bg-gray-900 {
    --tw-bg-opacity: 1;
    background-color: #0b0b0b;
}
.via-gray-900\/70 {
    --tw-gradient-stops: #0b0b0b,rgb(30 23 36) var(--tw-gradient-via-position),rgb(64 41 61);
}
.bg-gray-800 {
    background-color: #1e1724;
}
